{% extends 'base.html.twig' %}

{% block title %}ExcursionRouteReport index{% endblock %}

{% block body %}
    <h1>ExcursionRouteReport index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>MainPhoto</th>
                <th>AdditionalPhotos</th>
                <th>Route</th>
                <th>Used</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for excursion_route_report in excursion_route_reports %}
            <tr>
                <td>{{ excursion_route_report.id }}</td>
                <td>{{ excursion_route_report.name }}</td>
                <td>{{ excursion_route_report.description }}</td>
                <td>{{ excursion_route_report.mainPhoto }}</td>
                <td>{{ excursion_route_report.additionalPhotos ? excursion_route_report.additionalPhotos|json_encode : '' }}</td>
                <td>{{ excursion_route_report.route }}</td>
                <td>{{ excursion_route_report.used ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_excursion_route_report_show', {'id': excursion_route_report.id}) }}">show</a>
                    <a href="{{ path('app_excursion_route_report_edit', {'id': excursion_route_report.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_excursion_route_report_new') }}">Create new</a>
{% endblock %}
