{% extends 'base.html.twig' %}
{% block title %}Где история: О проекте{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .header {
            background-image: url({{ asset('upload/images/edb885c9fefb68b4b1aa321d3c6bc1c5.png') }});
            background-size: cover;
            background-position: center;
            color: white;
            text-align: center;
            padding: 100px 0;
            height: 420px;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
        }

        .mission {
            background-color: #B71C1C;
            color: white;
            text-align: center;
            padding: 40px;
            border-radius: 8px;
            font-size: 24px;
            font-weight: 500;
            line-height: 33.6px;

        }

        .about-page h1 {
            font-size: 32px;
            font-weight: 500;
            line-height: 38.73px;
            color: #1B1B1B;
        }

        .about-list h5,
        .gray-container h5 {
            font-size: 24px;
            font-weight: 500;
            line-height: 29.05px;
            color: #9B1616;

        }

        .about-list p,
        .gray-container p {
            margin-top: 20px;
            font-size: 12px;
            font-weight: 500;
            line-height: 14.52px;
            color: #1B1B1B;
        }


        @media (max-width: 575px) {
            .about-page h1 {
                font-size: 24px;
            }

            .about-page .info-box svg {
                margin-bottom: 15px;
            }
        }

        a {
            color: #b71c1c;
        }

        a:hover {
            color: #951717;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container main-section about-page">
        {% set first_crumb = 'О проекте' %}
        {% include ('pages/base/breadcrumbs.html.twig') %}
        <div class="row">
            <div class="col-md-12">
                <div class="header">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1>"Где история" – это уникальная онлайн-платформа, созданная для всех, кто интересуется историей,
                    археологией, этнографией и культурным наследием России</h1>
                <p>Проект был запущен в 2024 году при поддержке МОО "Игры будущего" и НИУ ВШЭ как часть программы
                    "Археономика: экономика наследия", реализуемой во исполнение поручения Президента Российской
                    Федерации.</p>
                <p>Основная цель портала — обеспечить пользователей актуальной информацией о мероприятиях, связанных с
                    исторической тематикой, например, таких как:
                    <a href="{{ path('app_event_list', {'category': 'museum'}) }}">выставки</a>,
                    <a href="{{ path('app_event_list', {'category': 'lecture'}) }}">лекции и семинары</a>,
                    <a href="{{ path('app_event_list', {'category': 'festival'}) }}">фестивали</a>,
                    <a href="{{ path('app_event_list', {'category': 'masterclass'}) }}">мастер-классы</a>,
                    <a href="{{ path('app_event_list', {'category': 'tournament'}) }}">соревнования по историческим
                        видам спорта</a>, и многое другое.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mission">
                    <p>Миссия портала – объединить профессионалов и энтузиастов, создать удобный инструмент для
                        популяризации исторического наследия и способствовать развитию туристической инфраструктуры
                        вокруг культурно-исторических памятников.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <p>Платформа охватывает все регионы России, а также некоторые зарубежные страны (Беларусь, Казахстан,
                    Сербия).</p>
                <h5>Ключевые особенности:</h5>
                <p>
                <ul>
                    <li>Интерактивные карты и удобный календарь событий</li>
                    <li>Тематические подборки самых интересных событий</li>
                    <li>Возможность самостоятельного добавления мероприятий</li>
                    <li>Специальная маркировка детского контента</li>
                </ul>
                </p>
                <h5>На данный момент на портале</h5>
                <p>
                <ul>
                    <li><b>{{ active_events }}</b> актуальных мероприятий по всей России и за рубежом</li>
                    <li><b>{{ active_organisations }}</b> организаций – от музеев до реконструкторских клубов</li>
                </ul>
                </p>
                <p>"Где история" адресован широкой аудитории – от профессиональных историков до любителей
                    реконструкции и просто любителей. Мы стремимся сделать историю доступной и увлекательной для
                    каждого!</p>
            </div>
        </div>

    </div>
    {% include('pages/news_row.html.twig') %}
{% endblock %}
