<!-- news -->
<div class="news-container main-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="news-content">
                    {% for news_item in news %}
                        <li class="news-item">
                            <div class="news-item-img"><a href="{{ path('app_news_show', {'id': news_item.id}) }}"><img src="{{ asset('upload/images/') }}{{ news_item.photo }}"
                                                            alt="{{ news_item.name }}"/></a></div>
                            <p class="news-caption"><a href="{{ path('app_news_show', {'id': news_item.id}) }}">{{ news_item.name }}</a></p>
                            <span class="news-date">{{ news_item.createdAt ? news_item.createdAt|date('d.m.Y') : '' }}</span>
                        </li>
                    {% else %}
                        <li class="news-item">
                            <div class="news-item-img"></div>
                            <p class="news-caption"></p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!--end news-->