<div class="banners-container">
    <ul class="banners-content">
        <li class="banners-item">
            <a href="{{ path('app_partners') }}#asi" class="banners-item-link">
                <img src="{{ asset('img/partners/agentstvo-strategicheskih-iniciativ.svg') }}" alt=""/>
            </a>
        </li>
        <li class="banners-item">
            <a href="{{ path('app_partners') }}" class="banners-item-link">
                <img src="{{ asset('img/partners/voennoe-istoricheskoe-obschestvo.svg') }}" alt=""/>
            </a>
        </li>
        <li class="banners-item">
            <a href="{{ path('app_partners') }}" class="banners-item-link">
                <img src="{{ asset('img/partners/visshya-shkola-ekonomiki.svg') }}" alt=""/>
            </a>
        </li>
        <li class="banners-item">
            <a href="{{ path('app_partners') }}" class="banners-item-link">
                <img src="{{ asset('img/partners/rossiyskoe-obschestvo-znanie.svg') }}" alt=""/>
            </a>
        </li>
        <li class="banners-item"><a href="{{ path('app_partners') }}" class="banners-item-link">
                <img src="{{ asset('img/partners/isb-rossii.svg') }}" alt=""/>
            </a>
        </li>

        <li class="banners-item">
            <a href="{{ path('app_partners') }}" class="banners-item-link">
                <img height="110px" src="{{ asset('img/partners/mri.png') }}" alt="музей ратной истории"/>
            </a>
        </li>
        <li class="banners-item">
            <a href="{{ path('app_partners') }}" class="banners-item-link">
                <img src="{{ asset('img/partners/pb.png') }}" alt="поле брани"/>
            </a>
        </li>
        <li class="banners-item">
            <a href="{{ path('app_partners') }}" class="banners-item-link">
                <img src="{{ asset('img/partners/soyuz.png') }}" alt="союз"/>
            </a>
        </li>
        <li class="banners-item">
            <a href="{{ path('app_partners') }}" class="banners-item-link">
                <img src="{{ asset('img/partners/pm.png') }}" alt="путь меча"/>
            </a>
        </li>
        <li class="banners-item">
            <a href="{{ path('app_partners') }}#vg" class="banners-item-link">
                <img src="{{ asset('img/partners/vechniy-gorod.svg') }}" alt=""/>
            </a>
        </li>

    </ul>
</div>
<div class="arrow-left"><img src="{{ asset('img/red-arrow-left.svg') }}" alt=""></div>
<div class="arrow-right"><img src="{{ asset('img/red-arrow-right.svg') }}" alt=""></div>