{% macro render_region_dropdown(locations, labelId) %}
    {% set allRegions = locations|filter(location => location.region.name == 'Все регионы')|first %}
    {% set otherLocations = locations|filter(location => location.region.name != 'Все регионы') %}

    <div class="dropdown-menu dropdown-menu-end region-dropdown-menu" aria-labelledby="{{ labelId }}">
        {% if allRegions is not null %}
            {{ _self.render_location(allRegions) }}
        {% endif %}

        {% for location in otherLocations %}
            {{ _self.render_location(location) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro render_location(location, level=0) %}
    <div class="region-dropdown-item {% if level > 0 %}region-hidden{% endif %}" data-location-id="{{ location.region.id }}" data-level="{{ level }}">
        {% if location.children is not empty %}
            <span class="region-toggle-arrow">▶</span>
        {% endif %}
        <a href="#">{{ location.region.name }}</a>
    </div>

    {% if location.children is not empty %}
        {% for child in location.children %}
            {{ _self.render_location(child, level + 1) }}
        {% endfor %}
    {% endif %}
{% endmacro %}